@import url('https://fonts.googleapis.com/css?family=Droid+Serif');

html, body {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("http://elitefon.ru/pic/201211/1920x1080/elitefon.ru-12512.jpg");
	background-size: cover;
}

h1 {
	font-family: 'Droid Serif', serif;
	text-align: center;
	margin-top: 20%;
}

h2 {
	font-family: 'Droid Serif', serif;
	text-align: center;
}

h1 span, h2 span {
	color: red;
}