body, html {
  margin:0;
  padding:0;
}
.header {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 15px 10px 10px 0px;
  background-color:green;
  
}
.header-element {
  flex-grow: 1;
  list-style: none;
  display: inline-flex;
  padding-right: 50px;
}
.container {
display: flex;
    
  background-color:red;
  flex-direction: column;
}
.first-block {
  background-color:#fff;  
  height: 150px;
  width:100%;
}
.second-block {
  width:100%;
  background-color: orange;
  height: 150px;
}
.block-icons{
  width:100%;
  background-color: #000;
  height: 150px;
}
.overstudio {
  width:100%;
  background-color: #d7d7d7;
  height: 150px;
}
.overstudio-philosophy{
  width:100%;
  background-color: #00eef4;
  height: 150px;
}
.subscribeToOverStudio{
  width:100%;
  background-color: #f400de;
  height: 150px;
}
.footer {
  display: flex;  
  justify-content: space-between;
  padding:15px;
  max-width:800px;
  margin: 0 auto;
}
.footer-contacts li {
  
}

.footer-header-repeat {
  
}
.footer-contacts ul, .footer-header-repeat ul, .footer-mail ul{
  height: 100%;
  margin:0;
  font-size: 1.3rem;
  list-style:none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:0;  
}
/*----effects--*/
.effect-2{
  border: 0; 
  padding: 7px 0; 
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.effect-2 ~ .focus-border{position: absolute; bottom: 0; left: 50%; width: 0; height: 0.5px; background-color: red; transition: 0.4s;}
.effect-2:focus ~ .focus-border{width: 100%; transition: 0.4s; left: 0;}

.footer-mail input[type="text"]{ 
}
:focus{
  outline: none;
}
.focus-border{
  position: absolute; 
  bottom: 0; 
  left: 0; 
  width: 0; 
  height: 0.5px; 
  background-color: #ff0000; 
  transition: 0.4s;
  border: 0; 
  padding: 1px 0; 
  border-bottom: 1px solid #ccc;
  
}

.footer-mail p span {
 color: red;
}

.copyright {
  display:flex;
  background-color:#cbdf2c;
  justify-content:center;
}

.col-3{ position: relative;} /* necessary to give position: relative to parent. */
input[type="text"]{font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}
input[type="submit"]{font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px; background-color: white;}

/*input[type="submit"]:hover{background-color: #ababab;}*/


/*-------follow-form----*/
ul.follow-form li{
  display: inline;
}

