body, html {
  margin:0;
  padding:0;
}
.header {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 15px 10px 10px 0px;
  background-color:green;
  
}
.header-element {
  flex-grow: 1;
  list-style: none;
  display: inline-flex;
  padding-right: 50px;
}
.container {
display: flex;
    
  background-color:red;
  flex-direction: column;
}
.first-block {
  background-color:#fff;  
  height: 150px;
  width:100%;
}
.second-block {
  width:100%;
  background-color: orange;
  height: 150px;
}
.block-icons{
  width:100%;
  background-color: #000;
  height: 150px;
}
.overstudio {
  width:100%;
  background-color: #d7d7d7;
  height: 150px;
}
.overstudio-philosophy{
  width:100%;
  background-color: #00eef4;
  height: 150px;
}
.subscribeToOverStudio{
  width:100%;
  background-color: #f400de;
  height: 150px;
}
.footer {
  display: flex;  
  padding:30px 0px 15px 0px;
  max-width:80%;
  margin: 0 auto;
  
}
.footer-contacts {
  width: 5%;
  font-size:2.7rem;
}

.footer-header-repeat {
  width: 25%;
  font-size: 2.5rem;
  font-weight: 300;
}
.footer-mail {
  width: 70%;
  font-size: 2.2rem;
}

.footer-mail ul {
  height: 100%;
  margin:0;
  list-style:none;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding:0;
}

.footer-contacts , .footer-header-repeat , .footer-mail {

}
.footer-contacts ul, .footer-header-repeat ul{
  height: 100%;
  margin:0;
  list-style:none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:0;  
}

.footer-mail p {
 margin: 0;
}

.footer-mail p span {
 color: red;
}


#copy {
  font-size: 1rem;
}